@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter";
}

.link{
   color:  hsl(236, 13%, 42%);
}
.link:hover{
    color: hsl(5, 85%, 63%);
}

.heading{
    color: rgb(197, 128, 0)
}

.button {
    background-color:hsl(5, 85%, 63%) ;
    padding: 1em 1.5em;
    display: inline-block;
    margin-top: .5em;
    text-decoration: none;
    color: hsl(36, 100%, 99%) ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25em;
    transition: 1s background ease;
  }
  .button:hover{
    background-color:black;
  }

  .new_article img{
      max-width: 120px;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2em;
  }
  
  .content a{
    font-size: 1rem;
    font-weight: 800;
    color: #000;
    transition: 1s color ease-in-out;
  }
  .content a:hover{
    color: rgb(245, 65, 65);
  }

  .content p{
    font-size: 14px;
  }

  #article a{
    color: white;
    transition: 1s color ease-in-out;
  }

  #article a:hover{
    color: rgb(190, 135, 33);
  }